*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #edf1f4;
}
.dark
{
    background: #282c2f;
}
.calulator
{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    background-color: #a1cae9;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}
.dark .calulator
{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25), -15px -15px 20px rgba(255, 255, 255, 0.1);
}
/* Button Css */
.calulator .buttons
{
    position: relative;
    display: grid;
}

/* Display: Css */
.calulator .buttons #value
{
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: rgb(0, 0, 0);
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),inset -5px -5px 20px #fff ;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;

}

.dark .calulator .buttons #value
{
  
    color: #eee;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),inset -15px -15px 20px rgba(255, 255, 255, 0.1);
}
.calulator .buttons span
{
    position:  relative;
    padding: 10px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff ;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),-5px -5px 10px #fff;
    border-radius: 10px;

}

.dark .calulator .buttons span
{
color: #eee;
border: 2px solid #333;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),-5px -5px 10px rgba(255, 255, 255, 0.1);

}
.calulator .buttons span:active
{
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.1),inset -5px -5px 10px #fff; 
    color: rgb(251, 7, 7);
}

.dark .calulator .buttons span:active
{
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.1); 
}
.calulator .buttons span#clear
{
    grid-column: span 2;
    background: red;
    color: #fff;
    border: 2px solid #edf1f4;
}

.calulator .buttons span#plus
{
    grid-row: span 2;
    background: rgb(4, 237, 58);
    color: #fff;
    border: 2px solid #edf1f4;
}

.calulator .buttons span#equal
{
    grid-row: span 2;
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}
.calulator .buttons span#operator
{
background:rgba(225, 242, 96, 0.966) ;
}

.dark .calulator .buttons span#operator
{
background: #2196f3;
}
.dark .calulator .buttons span#clear,
.dark .calulator .buttons span#plus,
.dark .calulator .buttons span#equal
{
border: 2px solid #333;
}
.calulator .buttons span#clear:active,
.calulator .buttons span#plus:active,
.calulator .buttons span#equal:active
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff
    inset 5px 5px 10px rgba(0, 0, 0, 0.1); 
}
.dark .calulator .buttons span#clear:active,
.dark .calulator .buttons span#plus:active,
.dark .calulator .buttons span#equal:active
{
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.togglebtn
{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #edf1f4;
    background: rgb(23, 19, 19);
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
}

.dark .togglebtn
{
    background: #edf1f4;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);

}

